{{attach_library('reservation/reservation')}} 
<head> 
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
</head>
<body>
    <form id="formName"name="formName" onsubmit="return validateForm()">
        <div>
            <label>Please enter you name : (required)</label>
            <input type="text" id="customer_name" name="name"
             title="Please use only letters" required maxlength="10">      
        </div>
    </form>
    <h1> List of movies </h1>
        <h3>Please select genre : </h3>
        <select id="genre" name="genre">
            <option value = "">Select a genre</option>
            <option value=0>All movies</option>
            {% for genre in genres %}
            <option value = "{{genre.tid.value}}">{{genre.name.value}}</option>
            {% endfor %}
        </select>
    <ol>
    {% if movies is not empty  %}
        {% for movie in movies %}
            <li class="list_item" value="{{movie.nid.value}}"> 
                    <div class="item">
                        <h5 id="movie-title-{{movie.nid.value}}" style = "text-align:center;"> {{movie.title.value | raw}}  </h5>
                        <img id="movie-image-{{movie.nid.value}}" class="center" src="{{ file_url(movie.field_movie_image.entity.fileuri) }}" width="300" height="300" />
                        <br><center><button type="button" class="button" style="background-color: blue" id="reservation-button-{{movie.nid.value}}">Reserve movie</button></center> 
                        <p id="movie-desc-{{movie.nid.value}}">{{movie.field_description.value | raw}}</p>
            </div>
            </li>
        {% endfor %}
    {% else %}
            <h5>Sorry, we do not have movies with selected genre yet!</h5>
    {% endif %}
    </ol>
</body>
