{{attach_library('reservation/reservation')}} 
<head> 
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <meta http-equiv="cache-control" content="no-cache">
</head>
<body>
        <label>Please enter you name : (required)</label>
        <input required type="text" id="customer_name" class="customer_name" name="customer_name" title="Please use only letters" required maxlength="10">      
    <h1> List of movies </h1>
        <h3>Please select genre : </h3>
        <select id="genre" name="genre">
            <option value = "">Select a genre</option>
            <option value=0>All movies</option>
            {% for genre in genres %}
            <option value = "{{genre.tid.value}}">{{genre.name.value}}</option>
            {% endfor %}
        </select>
    <ol>
    {% if movies is not empty  %}
        {% for movie in movies %}
            <li class="list_item" value="{{movie.nid.value}}"> 
                    <div class="item">
                        <h5 id="movie-title-{{movie.nid.value}}" style = "text-align:center;"> {{movie.title.value | raw}}  </h5>
                        <img id="movie-image-{{movie.nid.value}}" class="center" src="{{ file_url(movie.field_movie_image.entity.fileuri) }}" width="300" height="300" />
                        <br><center><a href="#myModal-{{movie.nid.value}}" class="button" id="reservation-button-{{movie.nid.value}}" style="display:none;">Reserve movie</a></center> 
                        <p id="movie-desc-{{movie.nid.value}}">{{movie.field_description.value | raw}}</p>
                    </div>
            </li>
            <div id="myModal-{{movie.nid.value}}" class="modal" style>
                <div class="modal-content">
                    <div class="modal-header">
                    <a class="close" href="#">&times;</a>
                        <center><h2>Confirm your resrvation</h2><center>
                    </div>
                    <div class="modal-body">
                        <center>
                        <form id="popUpForm" class="popUpForm">
                            <h4 class="movieTitle" id="movie-title-{{movie.nid.value}}" style = "text-align:center;">{{movie.title.value | raw}}</h4>
                            <center><h5>Select day:</h5></center>
                            {% for day in movie.field_available_days %}
                                {% set seats = movie.field_attendants_ %}
                                <input  type="radio" name="day" value="{{day.entity.name.value | raw}}" class="popupInput">
                                <label>{{day.entity.name.value | raw}} - Available seats : {{seats.value}}</label><br>
                            {% endfor %}
                            {% for genre in movie.field_movie_type %}
                                <input class="movieGenre" type="hidden" name="genre" value="{{genre.entity.name.value}}">
                            {% endfor %}

                            <center><button disabled name="button" type="submit" class="confirmButton">Confirm your movie reservation</button></center>
                        </form>
                        </center>
                    </div>
                    <div class="modal-footer"></div>
                </div>
            </div>
            
    {% endfor %}
    {% else %}
            <h5>Sorry, we do not have movies with selected genre yet!</h5>
    {% endif %}
    </ol>
</body>
